- page_title "GitHub import"
- header_title "Projects", root_path
%h3.page-title
  %i.fa.fa-github
  Import projects from GitHub

%p.light
  Select projects you want to import.
%hr
%p
  = button_tag class: "btn btn-import btn-success js-import-all" do
    Import all projects
    = icon("spinner spin", class: "loading-icon")

.table-responsive
  %table.table.import-jobs
    %colgroup.import-jobs-from-col
    %colgroup.import-jobs-to-col
    %colgroup.import-jobs-status-col
    %thead
      %tr
        %th From GitHub
        %th To GitLab
        %th Status
    %tbody
      - @already_added_projects.each do |project|
        %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
          %td
            = link_to project.import_source, "https://github.com/#{project.import_source}", target: "_blank"
          %td
            = link_to project.path_with_namespace, [project.namespace.becomes(Namespace), project]
          %td.job-status
            - if project.import_status == 'finished'
              %span
                %i.fa.fa-check
                done
            - elsif project.import_status == 'started'
              %i.fa.fa-spinner.fa-spin
              started
            - else
              = project.human_import_status_name

      - @repos.each do |repo|
        %tr{id: "repo_#{repo.id}"}
          %td
            = link_to repo.full_name, "https://github.com/#{repo.full_name}", target: "_blank"
          %td.import-target
            = repo.full_name
          %td.import-actions.job-status
            = button_tag class: "btn btn-import js-add-to-import" do
              Import
              = icon("spinner spin", class: "loading-icon")

:javascript
  new ImporterStatus("#{jobs_import_github_path}", "#{import_github_path}");
